.navbar {
    display: block;
}

.hidden {
    display: none;
}

.validation-summary-valid
{
	display: none;
}

.validation-summary-errors {
    list-style-type: none;
}

.white-backround {
    background: white;
}

.custom-dropdown-height {
    height: 34px;
}