@model HomeFinanse.Models.MainViewModel

@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
    <button class="navbar-toggler navbar-toggler-right hidden-lg-up" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="row">
                <div style="margin-left: 15px; color: white;" class="col-xs-2 col-lg-2 col-md-2">
                    <h3>Home Finanse</h3>
                </div>
        <div class="input-group center-control col-xs-8 col-md-9 col-lg-9" style="margin-top: 10px;">
            @Html.LabelFor(model => model.SelectedPeriodID, "Current period", new { @class = "control-label input-group-addon", style = "width: 100px;" })

            @Html.DropDownListFor(model => model.SelectedPeriodID, new SelectList(ViewBag.Periods, "Value", "Text"), new { @class = "form-control", id = "periodsDropdown", @onchange = "SetCurrentPeriod();", @onload = "SetCurrentPeriod();", style = "height: 35px; width: 120px;" })
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <nav class="col-sm-2 col-md-2 hidden-xs-down bg-faded sidebar">
            <ul class="nav nav-pills flex-column">
                <li class="nav-item">
                    <a class="nav-link active" id="overviewLink">Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="incomesLink">Incomes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="outcomesLink">Outcomes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="categoriesLink">Categories</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="periodsLink">Periods</a>
                </li>
            </ul>
        </nav>

        <main class="col-sm-10 col-md-10 col-lg-10">

            <div class="row" id="myContentView">
                <!-- main content loading in here-->
                <!-- Load start content and change body background -->
                <script type="text/javascript">
                    LoadSummaryOnAppStart();

                    ChangeBodyColor();
                </script>
            </div>
        </main>
    </div>
</div>
