@model HomeFinanse.Models.UserViewModel

@{
    ViewBag.Title = "Login";
}

@if (ViewData["LoginError"] != null)
{
    <div class="alert alert-danger text-center"><strong>Error !</strong> @ViewData["LoginError"]</div>
}

@using (Html.BeginForm("Login", "Home", FormMethod.Post, null))
{
    <div class="login-page">
        <div class="form">
            @*<form class="register-form">
                <input type="text" placeholder="name" />
                <input type="password" placeholder="password" />
                <input type="text" placeholder="email address" />
                <button>create</button>
                <p class="message">Already registered? <a href="#">Sign In</a></p>
            </form>*@
            <form class="login-form">
                @Html.TextBoxFor(x => x.LoginUser.UserName, new { type = "text", placeholder = "Enter username" })
                @Html.TextBoxFor(x => x.LoginUser.Password, new { type = "password", placeholder = "Enter password" })
                <button>login</button>

                
            @*<p class="message">Not registered? <a href="#">Create an account</a></p>*@
            </form>
        </div>
    </div>
}