@model IEnumerable<HomeFinanse.Models.Period>

<h3> Periods </h3>

<div class="col-lg-4 col-md-4 col-xs-12">
    @* add new period *@
    @Html.Partial("AddPeriod", new HomeFinanse.Areas.Periods.Models.PeriodModel())
</div>

@* show errors if exist *@
 
@*@Html.ValidationSummary(true)*@

<div class="col-xs-12 col-lg-8 col-md-8">
    @Html.Partial("PeriodsTable", Model)
</div>