@model HomeFinanse.Areas.Outcomes.Models.OutcomeViewModel

@{
    ViewBag.Title = "Outcomes";
}

<script type="text/javascript">
    function ShowOutcomes() {

        $.ajax({
            type: 'get',
            url: '@Url.Action("ShowOutcomes", "Outcome", new { area = "Outcomes" })',
            contentType: 'application/json; charset=utf-8',
            dataType: 'html',
            data: { "selectedPeriodID": $("#periodsDropdownInOutcomes").val() },
            success: function (result) {
                $("#outcomesView").html(result);
            },
            error: function (ex) {
                alert("Error");
            }
        });
    };

</script>

<div id="outcomesView">

    <h3>Outcomes</h3>

    <div class="col-lg-4 col-md-4 col-xs-12">
        @{
            Html.RenderPartial("AddOutcome");
        }
    </div>

    <div class="clear: both"></div>

    <div class="col-xs-12 col-lg-8 col-md-8">

        @Html.Partial("OutcomesTable", Model.Outcomes)

    </div>
</div>
