@model HomeFinanse.Areas.Outcomes.Models.OutcomeViewModel

@{
    ViewBag.Title = "Outcomes";
}

<script type="text/javascript">
    function ShowOutcomes() {

        $.ajax({
            type: 'get',
            url: '@Url.Action("ShowOutcomes", "Outcome", new { area = "Outcomes" })',
            contentType: 'application/json; charset=utf-8',
            dataType: 'html',
            data: { "selectedPeriodID": $("#periodsDropdownInOutcomes").val() },
            success: function (result) {
                $("#outcomesView").html(result);
            },
            error: function (ex) {
                alert("Error");
            }
        });
    };

</script>

<div style="clear: both"></div>

<div id="outcomesView" style="margin: 10%">
    <div style="clear: both"></div>
    <h3>Outcomes</h3>

    <div class="row">
        <div class="input-group col-xs-4 col-md-4">
            @Html.LabelFor(model => model.SelectedPeriodID, "Current period", new { @class = "control-label input-group-addon", style = "width: 100px;" })

            @Html.DropDownListFor(model => model.SelectedPeriodID, Model.PeriodsSelectList, new { @class = "form-control", id = "periodsDropdownInOutcomes", @onchange = "ShowOutcomes();", style = "height: 34px;" })
        </div>
    </div>

    <div class="col-lg-4 col-md-4 col-xs-12">
        @{
            Html.RenderPartial("AddOutcome");
        }
    </div>
    <div class="col-xs-12 col-lg-8 col-md-8">

        @Html.Partial("OutcomesTable", Model.Outcomes)

    </div>
</div>
