@model HomeFinanse.Models.Category

<div class="modal fade" id="editModal">
    <div class="modal-dialog">
        <div class="modal-content">

            @using (Html.BeginForm("SaveNewCategory", "Category", new { area = "Categories" }, FormMethod.Post))
            {
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Edit category</h4>
                </div>
                <div class="modal-body">
                    <form>
                        <input type="text" id="CategoryName" value="@Model.CategoryName" />
                        <input type="submit" />
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                </div>
            }
        </div>
    </div>
</div>
