@model IEnumerable<HomeFinanse.Models.Category>

@{
    ViewBag.Title = "Categories";
}

<h3> Categories </h3>

@* add new category *@
<div class="col-lg-4 col-md-4 col-xs-12">
    @Html.Partial("AddCategory", new HomeFinanse.Areas.Categories.Models.CategoryNotNullable())
</div>


@* show errors if exist *@

@Html.ValidationSummary(true)

<div class="col-xs-12 col-lg-8 col-md-8" id="categoriesList">
    @Html.Partial("CategoriesTable", Model)
</div>
