@model HomeFinanse.Areas.Incomes.Models.IncomeViewModel

@{ 
    ViewBag.Title = "Incomes";
}

<script type="text/javascript">
    function ShowIncomes() {

        $.ajax({
            type: 'get',
            url: '@Url.Action("ShowIncomes", "Income", new { area = "Incomes" })',
            contentType: 'application/json; charset=utf-8',
            dataType: 'html',
            data: { "selectedPeriodID": $("#periodsDropdownInIncomes").val() },
            success: function (result) {
                $("#incomesView").html(result);
            },
            error: function (ex) {
                alert("Error");
            }
        });
    };

</script>

<div id="incomesView" >

    <h3> Incomes </h3>
    @* Add income *@

    <div class="row">
        <div class="col-lg-4 col-md-4 col-xs-12">
            @{
                Html.RenderPartial("AddIncome");
            }
        </div>

        <div class="clear: both"></div>

        <div class="col-xs-12 col-lg-8 col-md-8">
            @Html.Partial("IncomesTable", Model.Incomes)
        </div>
    </div>
</div>